@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------
Common
-------------------------------------------------------------*/

/* * {
    outline: 2px solid blue;
}  */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000;
    font-family: "Futo Go B101";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.1em;
    font-style: normal;
}

body ::-moz-selection {
    background-color: #000;
    color: #ffffff;
}

body ::selection {
    background-color: #000;
    color: #ffffff;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    text-decoration: none !important;
    transition: 0.3s;
}
@media (any-hover: hover) {
    a:hover {
        color: #000 !important;
        text-decoration: underline !important;
        transition: 0.3s;
    }
}

.row {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.current {
    color: #000 !important;
    text-decoration: underline !important;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .row {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*---------------------Title-------------------------------- */

.h1 {
    font-size: 20px;
    font-weight: 500;
}

.h2 {
    font-weight: 600;
}

/*-------------------------------------------------------------
Header
-------------------------------------------------------------*/

.header {
    position: relative;
}

.openbtn {
    position: absolute;
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    padding: 0 6px 0 6px;
    border: solid 1px #000;
    border-radius: 999px;
    background-color: #ffffff;
    z-index: 999;
}

.openbtn:hover {
    color: #ffffff;
    border: solid 1px #000;
    background-color: #000;
}

.gnav {
    padding: 70px;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0;
    right: 0;
	z-index: -1;
	opacity: 0;
    width: calc(100% * 1 / 2);
    background-color: #ffffff;
    height: 100vh;
}

.gnavLi {
    color: #a5a5a5
}

.gnav.panelactive {
    opacity: 1;
    z-index: 998;
}

/*------------------------responsive Phone------------------ */

@media screen and (min-width: 767px) {
    .openbtn {
    visibility: hidden;
}
}

@media  screen and (max-width: 767px) {
    .gnav {
        padding:70px 40px 70px 40px;
        width: 100%;
    }
}

/*-------------------------------------------------------------
Hero
-------------------------------------------------------------*/

.hero {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .hero {
        padding-top: 30px;
        display: block;
    }
}

/*-----------------Hero-下層ページ用-------------------------- */

.heroUnder {
    padding: 70px 0 80px 0;
    display: flex;
    justify-content: space-between;
}

.heroUnder__Inner--Home {
    margin-top: 30px;
}

.heroUnder__Left {
    width: calc(100% * 2 / 3);
    display: flex;
}

.heroUnder__Center {
    padding-left: 80px;
}

.heroUnder__Right {
    padding: 0 30px 0 30px;
    width: calc(100% * 1 / 3);
}

.hero__Inner--Title {
    margin-bottom: 30px;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .heroUnder {
    padding: 30px 0 40px 0;
    }

    .heroUnder__Left {
    display: block;
    }

    .heroUnder__Center {
    padding-left: 0px;
    }

    .heroUnder__Right {
    padding:30px 0;
    width: 100%;
    }
    
    .heroUnder__Inner--Home {
    margin:30px 0;
    }
}

/*---------------------Menu--------------------------------- */

.hero__Inner--menu {
    padding-top: 5px;
    display: flex;
}

.hero__Inner--menu1 {
    margin-right: 20px;
}

.hero__Inner--menu1Li {
    color: #a5a5a5;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .hero__Inner--menu {
        display: none;
    }
}

/*---------------------Genre-------------------------------- */

.hero__Inner--genre {
    padding-top: 5px;
}

.hero__Inner--genreLi {
    color: #a5a5a5;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .hero__Inner--genre {
        display: none;
    }
}

/*-------------------------------------------------------------
Designs
-------------------------------------------------------------*/

.designs {
    padding: 80px 0 80px 0;
}

.designs__Hov {
    position: relative;
}

.designs__HovInner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: -1;
    transition: 0.2s;
}

.designs__HovInner:hover {
    opacity: 2;
    transition: 0.2s;
}

.designs__HovInnerTex {
    font-size: 10px;
    color: #ffffff;
}

.designs__HovInnerTexTit {
    position: absolute;
    text-align: left;
    top: 1px;
    left: 3px;
}

.designs__HovInnerTexGen {
    position: absolute;
    text-align: right;
    bottom: 1px;
    right: 3px;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .designs {
        padding: 30px 0 30px 0;
}

    .designs__HovInner:hover {
        opacity: 0;
}
}

/*-----------------Designs-下層ページ用----------------------- */

.designsUnder {
    display: flex;
    padding-bottom: 30px;
}

.designsUnder__Left {
    width: calc(100% * 2 / 3);
    background-color: #dbdcdc;
    position: relative;
}

.designsUnder__Leftvideo video {
    display: block;
    width: 50%;
}

.designsUnder__Left--Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designsUnder__Right {
    width: calc(100% * 1 / 3);
    padding: 0 30px 0 30px;
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .designsUnder {
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
    }

    .designsUnder__Left {
    background-color: #ffffff;
    width: 100%;
    }

    .designsUnder__Leftvideo video {
    display: block;
    width: 100%;
    }

    .designsUnder__Leftvideo {
    width: 100%;
    }

    .designsUnder__Left--Text {
    position: relative;
    top: 0%;
    left: 0%;
    transform: none;
    background-color: #dbdcdc;
    display: block;
    width: 100%;
    text-align: center;
    }

    .designsUnder__Right {
    display: block;
    width: 100%;
    padding: 10px;
    }
}

/*-------------------------------------------------------------
Footer
-------------------------------------------------------------*/

.footer {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: clamp(0.625rem, 0.5rem + 0.63vw, 1.25rem);
}

/*------------------------responsive Phone------------------ */

@media  screen and (max-width: 767px) {
    .footer {
        margin-bottom: 30px;
    }
}
